<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="workstation id=QuanLyBanHang2.mssql.somee.com;packet size=4096;user id=coongphus_SQLLogin_1;pwd=sy8jmm6bdr;data source=QuanLyBanHang2.mssql.somee.com;persist security info=False;initial catalog=QuanLyBanHang2" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="None"/>
  </system.web>
</configuration>